create database GestionTareasDB
go
USE [GestionTareasDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountRoleClaims]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountRoles]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUserClaims]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUserLogins]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AccountUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUserRoles]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AccountUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUsers]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](34) NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AccountUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUserTokens]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItems]    Script Date: 27/11/2025 5:29:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ApplicationIdentityUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_TaskItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251112204259_Initial', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251112223411_AddTableRefreshToken', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251114134824_AddPropiertieLength', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [IsRevoked], [UserId]) VALUES (1, N'0df36lL6tF1qSCJaue0VKB5DGCdafei94mmR5/KIqg0B1oEMIbKqeTtaUcsW7Eas3Oyv56UPvqPhNegRHv9JwA==', CAST(N'2025-11-12T23:54:55.4480117' AS DateTime2), CAST(N'2025-11-13T23:54:55.4480125' AS DateTime2), 0, N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a')
INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [IsRevoked], [UserId]) VALUES (2, N'dcHgOHqoiQ9/YygjzCSNQyw/ZBI+02KEY5XObfKObDH4ynjY+mC1Er0s51h9BDTbudV0PRLV/olONjyyVS2m2Q==', CAST(N'2025-11-12T23:58:39.2303680' AS DateTime2), CAST(N'2025-11-13T23:58:39.2303688' AS DateTime2), 0, N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a')
INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [IsRevoked], [UserId]) VALUES (3, N'2yr8ASmH9Qj15ReylDzvUPT3r6Te2No1+XgqggKGsFDWnP4XWPtYbuy1HCeubq7unf5scs+1fKTLYAXi9MYDBw==', CAST(N'2025-11-13T00:01:43.3722907' AS DateTime2), CAST(N'2025-11-14T00:01:43.3722920' AS DateTime2), 0, N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a')
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskItems] ON 

INSERT [dbo].[TaskItems] ([Id], [Title], [Description], [Status], [UserId], [CreatedAt], [UpdatedAt], [ApplicationIdentityUserId]) VALUES (131, N'RECLAMAR MEDICAMENTOS', N'reclamar medicamentos', N'Pendiente', N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a', CAST(N'2025-11-19T22:44:58.6801688' AS DateTime2), CAST(N'2025-11-19T22:44:58.6801720' AS DateTime2), NULL)
INSERT [dbo].[TaskItems] ([Id], [Title], [Description], [Status], [UserId], [CreatedAt], [UpdatedAt], [ApplicationIdentityUserId]) VALUES (132, N'CARNE', N'comprar carne', N'Completado', N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a', CAST(N'2025-11-19T22:45:11.5134367' AS DateTime2), CAST(N'2025-11-19T22:45:11.5134432' AS DateTime2), NULL)
INSERT [dbo].[TaskItems] ([Id], [Title], [Description], [Status], [UserId], [CreatedAt], [UpdatedAt], [ApplicationIdentityUserId]) VALUES (133, N'ISIMO', N'asd', N'Completado', N'd6a0c2c8-7f9b-4f68-a531-21d6c5292b9a', CAST(N'2025-11-19T22:45:25.7249783' AS DateTime2), CAST(N'2025-11-19T22:45:25.7249853' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[TaskItems] OFF
GO
ALTER TABLE [dbo].[AccountRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AccountRoleClaims_AccountRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AccountRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountRoleClaims] CHECK CONSTRAINT [FK_AccountRoleClaims_AccountRoles_RoleId]
GO
ALTER TABLE [dbo].[AccountUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AccountUserClaims_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUserClaims] CHECK CONSTRAINT [FK_AccountUserClaims_AccountUsers_UserId]
GO
ALTER TABLE [dbo].[AccountUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AccountUserLogins_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUserLogins] CHECK CONSTRAINT [FK_AccountUserLogins_AccountUsers_UserId]
GO
ALTER TABLE [dbo].[AccountUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountUserRoles_AccountRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AccountRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUserRoles] CHECK CONSTRAINT [FK_AccountUserRoles_AccountRoles_RoleId]
GO
ALTER TABLE [dbo].[AccountUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountUserRoles_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUserRoles] CHECK CONSTRAINT [FK_AccountUserRoles_AccountUsers_UserId]
GO
ALTER TABLE [dbo].[AccountUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AccountUserTokens_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUserTokens] CHECK CONSTRAINT [FK_AccountUserTokens_AccountUsers_UserId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_AccountUsers_UserId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_AccountUsers_ApplicationIdentityUserId] FOREIGN KEY([ApplicationIdentityUserId])
REFERENCES [dbo].[AccountUsers] ([Id])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_AccountUsers_ApplicationIdentityUserId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_AccountUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AccountUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_AccountUsers_UserId]
GO
